pStreamConfig:
    obsws_host: "127.0.0.1"
    obsws_port: 4444
    obsws_pass: "yourpassword"

    stream_dwell_time: 10
    enable_obs_alive_check: false
    enable_secrecy: true
    secrecy_catchphrase: "geheim"
    disable_after_finish_time: 600

    instances:
        -
            name: "TRONXY"
            url: "http://tronxy.local"
            apikey: "F95E1544CF248AAAEFC49460CFB9E43"
            forceactive: False
        -
            name: "E3TPU"
            url: "http://192.168.178.234"
            apikey: "E0A746EC72764B929620E9315EC20203"
            forceactive: False
        -
            name: "E3Ultra"
            url: "https://e3ultra.pkelectronics.de"
            apikey: "EFF054BC9D9B4638AB023615E29AF165"
            forceactive: True